{% load static %}

<!DOCTYPE html>
<html lang = en>

<head>

    <link href = "{% static 'css/card.css' %}" rel = 'stylesheet'>

    <meta charset = "utf-8">

    <meta name = "author" content = "Bianca Bai">

    <meta name = "description" content = "This Page displays your message.">

    <title>Happy Christmas</title>
    
</head>

<body>
    <div class = 'wish'>
        <div class = 'title'>
            <h1>
                Lorem ipsum dolor.
            </h1>
        </div>
        <div class = 'content'>
            <p>
                雄拳烟件触刹胳菇膛螬抵镁猜投啊鳍恭厩坞爸栏柴抑下伦粹氧傲居扮循抛利脉散是顺萝营坡犁棱脏死歼垛颤否挫台客喊薛缺斑蠢亡郑屠威奥充男墒？
            </p>

            <p>
                键决驴务朵滥纤铆芒要鳄肚啦励挫耶角扬纱脸熔愁朵际布涂匆牛胶慧则单嫂柏弃返畅透月遂醋内篮缸厩竿溅样蕉送驾色昔醚患励运熄舍质点喊鞋迁？奉泥昨陪疾仪造桑砧拟奸急步雏莫告高。蓄龚遇双情辽硫历。泉猎等竿惕傅恢绪盲鳙晃或至菊迹窑吁腋厅秧连刘眨槐亲茧漫庸略恶篷鲤突碧莫降放瓷丝殿载怜牛！
                雄拳烟件触刹胳菇膛螬抵镁猜投啊鳍恭厩坞爸栏柴抑下伦粹氧傲居扮循抛利脉散是顺萝营坡犁棱脏死歼垛颤否挫台客喊薛缺斑蠢亡郑屠威奥充男墒？
            </p>
            <p>
                
                键决驴务朵滥纤铆芒要鳄肚啦励挫耶角扬纱脸熔愁朵际布涂匆牛胶慧则单嫂柏弃返畅透月遂醋内篮缸厩竿溅样蕉送驾色昔醚患励运熄舍质点喊鞋迁？奉泥昨陪疾仪造桑砧拟奸急步雏莫告高。蓄龚遇双情辽硫历。泉猎等竿惕傅恢绪盲鳙晃或至菊迹窑吁腋厅秧连刘眨槐亲茧漫庸略恶篷鲤突碧莫降放瓷丝殿载怜牛！
                雄拳烟件触刹胳菇膛螬抵镁猜投啊鳍恭厩坞爸栏柴抑下伦粹氧傲居扮循抛利脉散是顺萝营坡犁棱脏死歼垛颤否挫台客喊薛缺斑蠢亡郑屠威奥充男墒？
            </p>
            <p>
                
                键决驴务朵滥纤铆芒要鳄肚啦励挫耶角扬纱脸熔愁朵际布涂匆牛胶慧则单嫂柏弃返畅透月遂醋内篮缸厩竿溅样蕉送驾色昔醚患励运熄舍质点喊鞋迁？奉泥昨陪疾仪造桑砧拟奸急步雏莫告高。蓄龚遇双情辽硫历。泉猎等竿惕傅恢绪盲鳙晃或至菊迹窑吁腋厅秧连刘眨槐亲茧漫庸略恶篷鲤突碧莫降放瓷丝殿载怜牛！Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iure nisi voluptatibus corporis veniam perferendis nobis modi natus. Tenetur ullam magnam laudantium quisquam! Cum tempora ex modi exercitationem. Officiis, ipsam?
            </p>
            <p>
                
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iure nisi voluptatibus corporis veniam perferendis nobis modi natus. Tenetur ullam magnam laudantium quisquam! Cum tempora ex modi exercitationem. Officiis, ipsam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iure nisi voluptatibus corporis veniam perferendis nobis modi natus. Tenetur ullam magnam laudantium quisquam! Cum tempora ex modi exercitationem. Officiis, ipsam?
            </p>
            <p>
                
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iure nisi voluptatibus corporis veniam perferendis nobis modi natus. Tenetur ullam magnam laudantium quisquam! Cum tempora ex modi exercitationem. Officiis, ipsam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iure nisi voluptatibus corporis veniam perferendis nobis modi natus. Tenetur ullam magnam laudantium quisquam! Cum tempora ex modi exercitationem. Officiis, ipsam?
            </p>
            <p>
                
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iure nisi voluptatibus corporis veniam perferendis nobis modi natus. Tenetur ullam magnam laudantium quisquam! Cum tempora ex modi exercitationem. Officiis, ipsam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iure nisi voluptatibus corporis veniam perferendis nobis modi natus. Tenetur ullam magnam laudantium quisquam! Cum tempora ex modi exercitationem. Officiis, ipsam?
            </p>
            <p>
                
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iure nisi voluptatibus corporis veniam perferendis nobis modi natus. Tenetur ullam magnam laudantium quisquam! Cum tempora ex modi exercitationem. Officiis, ipsam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iure nisi voluptatibus corporis veniam perferendis nobis modi natus. Tenetur ullam magnam laudantium quisquam! Cum tempora ex modi exercitationem. Officiis, ipsam?
            </p>

            <p>
                
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iure nisi voluptatibus corporis veniam perferendis nobis modi natus. Tenetur ullam magnam laudantium quisquam! Cum tempora ex modi exercitationem. Officiis, ipsam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iure nisi voluptatibus corporis veniam perferendis nobis modi natus. Tenetur ullam magnam laudantium quisquam! Cum tempora ex modi exercitationem. Officiis, ipsam?
            </p>

            <p>
                
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iure nisi voluptatibus corporis veniam perferendis nobis modi natus. Tenetur ullam magnam laudantium quisquam! Cum tempora ex modi exercitationem. Officiis, ipsam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iure nisi voluptatibus corporis veniam perferendis nobis modi natus. Tenetur ullam magnam laudantium quisquam! Cum tempora ex modi exercitationem. Officiis, ipsam?
            </p>

            <p>
                
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iure nisi voluptatibus corporis veniam perferendis nobis modi natus. Tenetur ullam magnam laudantium quisquam! Cum tempora ex modi exercitationem. Officiis, ipsam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab iure nisi voluptatibus corporis veniam perferendis nobis modi natus. Tenetur ullam magnam laudantium quisquam! Cum tempora ex modi exercitationem. Officiis, ipsam?
            </p>
        </div>
        <div class = 'signature'>
            <div class = 'some_word'>
                Love,
            </div>
            <div class = 'name'>
                Bianca Bai
            </div>
            <div class = 'date'>
                2023.12.24
            </div>
        </div>
    </div>
</body>