{% load static %}

<head>

    <link href = "{% static 'css/create.css' %}" rel = 'stylesheet'>

    <meta charset = "utf-8">

    <meta name = "author" content = "Bianca Bai">

    <meta name = "description" content = "This Page displays your message.">

    <title>Create Your Christmas Wish</title>
    
</head>
<header class = "header">
    <a href = "{% url 'home' %}" class = "logo">
        <img src="{%static '/images/icon.png'%}" alt="Icon Image of Our Site!" width="72" height="48">
    </a>
    <nav class = "navbar">
        <a href = "{% url 'home' %}">Home</a>
        <a href = "{% url 'create_wish' %}">Create</a>
    </nav>
</header>

<body>
    <h1>Create Your Christmas Wish</h2>
    <form method="post" action="{% url 'create_wish' %}" class = 'form'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit Wish</button>
    </form>
</body>