{% load static %}

<head>

    <meta charset = "utf-8">

    <link href = "{% static 'css/home.css' %}" rel = 'stylesheet'>

    <meta name = "author" content = "Bianca Bai">

    <meta name = "description" content = "This Page displays your message.">

    <title>Christmas Wish Sender</title>
    
</head>

<header class = "header">
    <a href = "{% url 'home' %}" class = "logo">
        <img src="{%static '/images/icon.png'%}" alt="Icon Image of Our Site!" width="72" height="48">
    </a>
    <nav class = "navbar">
        <a href = "{% url 'home' %}">Home</a>
        <a href = "{% url 'create_wish' %}">Create</a>
    </nav>
</header>

<body>
    <div class = 'top'>
        <div class="welcome">
            <h2>Welcome to</h2>
            <h1>Christmas Wish Sender</h1>
            <br>
            <p>Spread joy and make wishes come true with Christmas Wish Sender. Create your own wish or search for wishes from others!</p>
        </div>
        <div class = 'create'>
            <h3>Create Your Wish</h3>
            <a href="{% url 'create_wish' %}">
                <button type ="create">Create</button>
            </a>
        </div>
    
        <div class = 'search'>
            <form method="post" action="{% url 'home' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="about">
        <h1>About Christmas Wish Sender</h1>
        <p>Christmas Wish Sender is a platform that allows users to create and share their Christmas wishes. Whether you want to express your heartfelt messages or search for wishes from loved ones, this is the place to make the holiday season special.</p>
    </div>
</body>