{% load static %}

<head>

    <meta charset = "utf-8">

    <link href = "{% static 'css/home_1.css' %}" rel = 'stylesheet'>

    <meta name = "author" content = "Bianca Bai">

    <meta name = "description" content = "This Page displays your message.">

    <title>Christmas Wish Sender</title>

    <link rel="icon" href="{%static '/images/icon.png'%}" type = "images">
    
</head>

<header class = "header">
    <a href = "{% url 'home' %}" class = "logo">
        <img src="{%static '/images/icon.png'%}" alt="Icon Image of Our Site!" width="72" height="48">
    </a>
    <nav class = "navbar">
        <a href = "{% url 'home' %}">Home</a>
        <a href = "{% url 'create_wish' %}">Create</a>
    </nav>
</header>

<body>
    <div class = 'top'>
        <div class="welcome">
            <h2>Welcome to</h2>
            <h1>WishCraft</h1>
            <br>
            <p>Spread joy and make wishes come true with Christmas Wish Sender. Create your own wish or search for wishes from others!</p>
        </div>
        <div class = 'create'>
            <h3>Create Your Wish</h3>
            <a href="{% url 'create_wish' %}">
                <button type ="create">Create</button>
            </a>
        </div>
    
        <div class = 'search'>
            <form method="post" action="{% url 'home' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
    <script>
        window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
      </script>
      <script defer src="/_vercel/insights/script.js"></script>
</body>