<!-- card/templates/card/view_wish.html -->
{% load static %}

{% block content %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}

{% if wrong_password %}
    <div class = 'incorrect'>
        <p>Incorrect password. Please try again.</p>
    </div>
{% endif %}

{% if correct_password %}
    <head>

        <link href = "{% static 'css/card1.css' %}" rel = 'stylesheet'>

        <meta charset = "utf-8">

        <meta name = "author" content = "Bianca Bai">

        <meta name = "description" content = "This Page displays your message.">

        <title>{{ wish.title }}</title>
        <link rel="icon" href="{%static '/images/icon.png'%}" type = "images">
        
    </head>

    <header class = "header">
        <a href = "{% url 'home' %}" class = "logo">
            <img src="{%static '/images/icon.png'%}" alt="Icon Image of Our Site!" width="72" height="48">
        </a>
        <nav class = "navbar">
            <a href = "{% url 'home' %}">Home</a>
            <a href = "{% url 'create_wish' %}">Create</a>
        </nav>
    </header>

    <body>
        <div class = 'wish'>
            <div class = 'title'>
                <h1>
                    {{ wish.title }}
                </h1>
            </div>
            <br>
            <div class = 'recieve'>
                <h3>To {{ wish.receiver }},</h3>
            </div>
            <div class = 'content'>
                <p>{{ wish.message|linebreaksbr }}</p>
            </div>
            <div class = 'signature'>
                <div class = 'some_word'>
                    {{ wish.signature }}
                </div>
                <div class = 'name'>
                    {{wish.sender_name}}
                </div>
                <div class = 'date'>
                    2023.12.24
                </div>
            </div>
        </div>
    </body>
{% else %}

    <head>

        <link href = "{% static 'css/create.css' %}" rel = 'stylesheet'>

        <meta charset = "utf-8">

        <meta name = "author" content = "Bianca Bai">

        <meta name = "description" content = "This Page displays your message.">

        <title>Happy Christmas</title>

        <link rel="icon" href="{%static '/images/icon.png'%}" type = "images">
        
    </head>
    <header class = "header">
        <a href = "{% url 'home' %}" class = "logo">
            <img src="{%static '/images/icon.png'%}" alt="Icon Image of Our Site!" width="72" height="48">
        </a>
        <nav class = "navbar">
            <a href = "{% url 'home' %}">Home</a>
            <a href = "{% url 'create_wish' %}">Create</a>
        </nav>
    </header>
    <body>
        <h1>
            View Wish
        </h1>

        <form method="post" action="{% url 'view_wish' pk=wish.id %}">
            {% csrf_token %}
            <label for="password">Enter Password:</label>
            <input type="password" name="password" required>
            <button type="submit">View Wish</button>
        </form>
    </body>
{% endif %}
