body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../images/s2.jpg');
    background-size: cover;
    background-attachment: fixed;
    cursor: url('../images/cursor.png') 16 16, auto;
}

.wish{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%; /* Set the width of your container */
    min-height: 100vh;
    padding-top: 80px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 80px;
    color: bisque;
    line-height: 140%;
    letter-spacing: 1px;
    background-image: url('../images/light.png');
    background-size: 100%;
    background-repeat: repeat-y;
    background-attachment: scroll;
}

.signature{
    text-align: right;
}